@import "vars";
@mixin font($font-family: $font-family-default,
            $f-size: $font-size-m,
            $line-height: initial,
            $color: $color-gray,
            $letters: initial)
{
  font-family: $font-family;
  font-size: $f-size;
  line-height: $line-height;
  color: $color;
  letter-spacing: $letters;
}