@import "fonts";
/*    Colors    */
$color-black: #000000;
$color-dark: #1C1C1C;
$color-darkGray: #7A7A7A;
$color-gray: #999999;
$color-lightAqua: #E3F5F2;
$color-white: #ffffff;
$color-aqua: #0AD9C6;

/*    Fonts size    */
$font-size-xs: 13px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 22px;
$font-size-xl: 30px;

/*    Fonts family    */
$font-family-default: "Open Sans Regular",sans-serif;
$font-family-bold: "Open Sans Bold",sans-serif;
$font-family-light: "Open Sans Light",sans-serif;

